<ion-view view-title="Octvia">
<br><br><br>
<img style="display: none;" src="https://cdn3.iconfinder.com/data/icons/token/128/Power-Shutdown.png">
	<div class="row">
		<div class="col">
			<div style="" ng-repeat="game in available_game" class=" list">
				<div style="background-color:#66421d; border:none" class="item item-button-right">
				<h1 style=" color:black; ">{{ game.game_name }}</h1>	
				 <!-- <img  style="" ng-src="http://46.105.123.11/{{ game.game_name }}.png">  -->
					<button  style="margin-top:15px" class="button button-balanced"  ng-click="launchGame(game.game_name)">Jouons</button>
				
				</div>
				
			</div>
		</div>
	</div>	
</ion-view>

<script type="text/javascript">
</script>>